.error-message {
    font-size: large;
    color: red;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 12px;
}

th {
    padding: 10px;
    background-color: paleturquoise;
    border: 1px solid black;
}

table {
    border: 1px solid black;
}

.plus {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.hole_number {
    width: 50px;
}

.add_player {
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: left;
}
