.acceptbtn {
    background-color: greenyellow;
    width: 120px;
    height: 35px;
    font-size: large;
    border-radius: 10px;
}
.funnel{
    width:30px;
    height:30px;
    cursor: pointer;
}
.table{
    border: 2px solid black;
    border-radius: 3px;
}

.table-head{
    background-color: #3cbb00;
}

.table-body{
    background-color: #d5ffd2;
}

.head{
    margin: auto;
    width: 30%;
    border-radius: 5px;
}