.golfball {
    width: 40px;
    height: 40px;
    margin-top: -5px;
}

.headline_box {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
    margin-top: 15px;
}

.headline {
    color: green;
    margin-left: 5px;
    margin-right: 5px;
}

.greenButton{
    background-color:lightgreen;
    width: 150px;
    height: 50px;
    font-size: medium;
    border-radius: 10px;
}

.redButton{
    background-color: #ec6464;
    width: 150px;
    height: 50px;
    font-size: medium;
    border-radius: 10px;
}